body {
  height: 100vh;
}
.App {
  text-align: center;
  height: 100vh;
  background-color: #a7ae9c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-container {
  width: 100%;
  height: 80%;
}

.Forest-green {
  color: #1e823f;
}
.Beige {
  color: #daefc4;
}
.Yellow-green {
  color: #8bc340;
}

.White-smoke {
  color: #f3f4f3;
}

.Dark-sea-green {
  color: #97c194;
}
.a {
  color: #8bc340;
  color: #43493a;
  color: #a7ae9c;
  color: #00d0f7;
  color: #0098bf;
}
